

.headlines-container {
  position: relative;
  gap: 1rem;
  border: 1rem solid #996600;
  width: 80vw;
  height: 90vh;
  font-size: medium;
  padding: 1em;
}

#information {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: #996600;
  display: inline;
}

#circle {
  position: absolute;
  z-index: -1;
  top: 250px;
  left: 250px;
  width: 350px;
  height: 350px;  
}



/* Headline cards */

div.headline-card a {
  color: black;
}

div.headline-card p {
  position: relative;
  text-overflow: ellipsis;
  overflow:auto;
  padding: 0%;
  margin: .5em 0em;
}

.card-mask {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-family: 'Encode Sans SC', sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #332200;
  border-radius: 2em;
}

.card-wrapper {
  position: relative;
}

.headline-card {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #996600;
  padding: 1.5em;
  margin: 2em 2em;
  width: 15em;
  height: 15em;
  border-radius: 2em;
}

.headline-card-title {
  margin: auto;
  font-size: large;
  font-weight: bold;
}



/* Button */

#buttons-container {
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #996600;
  padding: 1rem;
  margin: 1rem;
  width: 5em;
  height: 3em;
  font-size: large;
  font-family:sans-serif;
  font-weight: bold;
  border: 0rem solid black;
  border-radius: 20%;
}



/* news title */

#news-page-title-container {
  display: block;
  border: 5px dashed #996600;
  border-radius: 50%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#news-page-title {
  padding: 0rem;
  color: #996600;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 5rem;
}



/* Given with django */
.message {
  font-weight: 600;
  color: blue;
}

.navbar {
  background-color: lightslategray;
  font-size: 1em;
  font-family: 'Encode Sans SC', sans-serif;
  color: white;
  padding: 8px 5px 8px 5px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: 600;
}

.navbar-item {
  font-variant: small-caps;
  margin-left: 30px;
}

.body-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
